<div class="card">
      <div class="card-header card-header-danger">
        <h4 class="card-title">Edit places List</h4>
      </div>
      <div class="card-body">
        <form [formGroup]="placesForm" id="placesForm" (ngSubmit)="onSubmit(placesForm.value)">
          <input type="hidden" formControlName="placeId">
          <input type="hidden" formControlName="parentId">
    
          <div class="row custom-no-gutters">
            <div class="col-md-12">
              <button type="button" mat-raised-button class="btn btn-info pull-right btn-sm"
                [hidden]="isHiddenEditActionBtn" (click)="showBtns()">edit</button>

                <button type="button" mat-raised-button class="btn btn-danger pull-right btn-sm ml-auto"
                [hidden]="isHiddenCreateActionBtn" (click)="showCreateSaveBtn()">create Country</button>

                <button type="button" mat-raised-button class="btn btn-danger pull-right btn-sm ml-auto"
                [hidden]="isHiddenCreateGovernmentBtn" (click)="showCreateSaveBtn()">create Goverment</button>
            </div>
          </div>

          
    
          <div class="row custom-no-gutters">
            <div class="col-md-12">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Country Name" type="text" formControlName="placeEnName"
                  class="form-control">
              </mat-form-field>
            </div>
          </div>
          
          <div class="row custom-no-gutters">
            <div class="col-md-12">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="إسم الدولة" type="text" formControlName="placeArName"
                  class="form-control">
              </mat-form-field>
            </div>
          </div>

          <div class="row custom-no-gutters">
            <div class="col-md-12">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="country code / كود الدولة" type="text" formControlName="placeCode"
                  class="form-control">
              </mat-form-field>
            </div>
          </div>

          <div class="row custom-no-gutters" [hidden]="isHiddenSaveCreateBtn">
            <button type="submit" mat-raised-button class="btn btn-danger pull-left btn-sm"
              [disabled]="placesForm.invalid">save</button>
    
            <button mat-raised-button class="btn btn-danger pull-right btn-sm" (click)="onCancel()">cancel</button>
          </div>
    
          <div class="row custom-no-gutters" [hidden]="isHiddenSaveActionBtn">
            <button type="submit" mat-raised-button class="btn btn-danger pull-left btn-sm"
              [disabled]="placesForm.invalid">save</button>
    
            <button mat-raised-button class="btn btn-danger pull-right btn-sm" (click)="onCancel()">cancel</button>
          </div>
    
        </form>
      </div>
    </div>
