<div class="row custom-no-gutters">
    <div class="col-md-12">
        <select #mySelect class="form-control" name="mySelect"  [(ngModel)]="selectedObject"  (change)="selectPlace()">
            <option disabled>Select place</option>
            <option *ngFor="let place of places | async" [ngValue]="place" >{{ place.placeNameAr }}</option>
        </select>
    </div>
</div>

<div class="row custom-no-gutters">
    <div class="col-md-12">
        <select #mySelect class="form-control" name="mySelect"  [(ngModel)]="selectedGoverment"  (change)="selectGoverment()">
            <option disabled>Select place</option>
            <option *ngFor="let goverment of goverments" [ngValue]="goverment" >{{ goverment.placeNameAr }}</option>
        </select>
    </div>
</div>