<div class="card">
  <div class="card-header card-header-danger">
    <h4 class="card-title">Edit Activites List</h4>
  </div>
  <div class="card-body">
    <form [formGroup]="activityForm" id="activityForm" (ngSubmit)="onSubmit(activityForm.value)">
      <input type="hidden" formControlName="activityId">
      <div class="row custom-no-gutters">
        <div class="col-md-12">
          <button type="button" mat-raised-button class="btn btn-info pull-right btn-sm"
            [hidden]="isHiddenEditActionBtn" (click)="showBtns()">edit</button>

          <button type="button" mat-raised-button class="btn btn-danger pull-right btn-sm ml-auto"
            [hidden]="isHiddenCreateActionBtn" (click)="showCreateSaveBtn()">create</button>
        </div>
      </div>

      <div class="row custom-no-gutters">
        <div class="col-md-12">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="En Name" type="text" formControlName="enName" class="form-control">
            <!-- Start Validation part -->
            <div class="alert alert-danger"
              *ngIf="(activityForm.get('enName').touched || submitted) && activityForm.get('enName').errors">
              <span *ngIf="activityForm.get('enName').errors.required">
                This Field is required
              </span>
             
              <span *ngIf="activityForm.get('enName').errors?.isValidInput">
                Only english characters
              </span>
            </div>
            <!-- End Validation part -->
          </mat-form-field>
        </div>
      </div>

      <div class="row custom-no-gutters">
        <div class="col-md-12">
          <!-- *ngIf="(registerFormControl.name.touched || submitted) && registerFormControl.name.errors?.required -->
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Ar Name" type="text" formControlName="arName" class="form-control">
            <div class="alert alert-danger"
              *ngIf="(activityForm.get('arName').touched || submitted) && activityForm.get('arName').errors">
              <span *ngIf="activityForm.get('arName').errors?.required">
                This Field is required
              </span>
              <!-- *ngIf="registerFormControl.password.touched && registerFormControl.password.errors?.invalidPassword -->
              <span  *ngIf="activityForm.get('arName').errors?.isValidInput"> 
                مسموح بالحروف العربية فقط
              </span>
            </div>
          </mat-form-field>
        </div>
      </div>

      <div class="row custom-no-gutters">
        <div class="col-md-12">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Central Admin En Name" type="text" formControlName="centeralAdminEnName"
              class="form-control">
            <!-- Start Validation part -->
            <div class="alert alert-danger"
            *ngIf="(activityForm.get('centeralAdminEnName').touched || dirty) && activityForm.get('centeralAdminEnName').invalid">
              <span *ngIf="activityForm.get('centeralAdminEnName').errors?.required">
                This Field is required
              </span>
              <!-- angForm.controls['name'].invalid && (angForm.controls['name'].dirty || angForm.controls['name'].touched) -->
              <span *ngIf="activityForm.get('centeralAdminEnName').errors?.isValidInput">
                Only english characters
              </span>
            </div>
            <!-- End Validation part -->

          </mat-form-field>
        </div>
      </div>

      <div class="row custom-no-gutters">
        <div class="col-md-12">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Central Admin Ar Name" type="text" formControlName="centralAdminArName"
              class="form-control">
            <!-- Start Validation part -->
            <div class="alert alert-danger"
            *ngIf="(activityForm.get('centralAdminArName').touched || submitted) && activityForm.get('centralAdminArName').errors">
              <span *ngIf="activityForm.get('centralAdminArName').errors.required">
                This Field is required
              </span>
              <!-- class="invalid-feedback" -->
              <span  *ngIf="activityForm.get('centralAdminArName').errors?.isValidInput"> 
                مسموح بالحروف العربية فقط
              </span>
              <!-- <span *ngIf="activityForm.get('centralAdminArName').errors.pattern">
                مسموح بالحروف العربية فقط
              </span> -->
            </div>
            <!-- End Validation part -->
          </mat-form-field>
        </div>
      </div>


      <div class="row custom-no-gutters" [hidden]="isHiddenSaveCreateBtn">
        <button type="submit" mat-raised-button class="btn btn-danger pull-left btn-sm"
          [disabled]="activityForm.invalid">save activity</button>

        <button mat-raised-button class="btn btn-danger pull-right btn-sm" (click)="onReset()">cancel</button>
      </div>

      <div class="row custom-no-gutters" [hidden]="isHiddenSaveActionBtn">
        <button type="submit" mat-raised-button class="btn btn-danger pull-left btn-sm"
          [disabled]="activityForm.invalid">save</button>

        <button mat-raised-button class="btn btn-danger pull-right btn-sm" (click)="onReset()">cancel</button>
      </div>

    </form>
  </div>
</div>
<!-- <p>
  {{activityObject?.activityId}}
</p>
<h4>
  {{activityId}}
</h4>
{{activityObject|json}} -->