<div class="main-content">
    <div class="custom-class-for-style activities-component-content">
        <div class="container-fluid">
            <div class="row">

                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header card-header-danger">
                            <h4 class="card-title">Position List</h4>
                        </div>
                        <div class="col-md-12">
                            <div class="search-container" style="margin-top: 10px;">
                                <input type="text" class="form-control"  placeholder="&#xf002; Search companies" [(ngModel)]="searchText">
                            </div>
                        </div>
                        <div class="card-body">
                            <table class="table">
                                <thead>
                                    <th>Comany Name</th>
                                    <th>اسم الشركة</th>
                                    <th>Actions</th>
                                </thead>
                                <!--  -->
                                <tbody *ngFor="let company of companies | async | searchPipe : searchText">
                                    <td  (click)="catchCompany(company)">{{ company.enName }}</td>
                                    <td  (click)="catchCompany(company)">{{ company.arName }}</td>
                                    <!--  -->
                                    <td>
                                        <a (click)="deleteCompany(company)">
                                            <span class="material-icons red-delete-icon"> delete_outline </span>
                                        </a>
                                    </td>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <!-- <app-positions-form [PositionObject]="company"></app-positions-form> -->
                    <app-comapny-form [companyObject]="company"></app-comapny-form>
                </div>
            </div>

        </div>
    </div>

</div>