
<div class="main-content">
    <div class="custom-class-for-style activities-component-content">
        <div class="container-fluid">
            <div class="row">

                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header card-header-danger">
                            <h4 class="card-title">Position List</h4>
                        </div>
                        <div class="card-body">
                            <table class="table">
                                <thead>
                                    <th>Position Name</th>
                                    <th>اسم المنصب</th>
                                </thead>
                                <tbody *ngFor="let position of positions | async" (click)="catchPosition(position)">
                                    <td>{{ position.positionNameEn }}</td>
                                    <td>{{ position.positionNameAr }}</td>
                                    <td><a (click)="deletePosition(position)"><span class="material-icons">
                                        delete
                                        </span></a></td>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <app-positions-form [PositionObject]="position"></app-positions-form>
                </div>
            </div>

        </div>
    </div>

</div>