
<div class="main-content">
    <div class="custom-class-for-style activities-component-content">
        <div class="container-fluid">
            <div class="row">

                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header card-header-danger">
                            <h4 class="card-title">Titles List</h4>
                        </div>
                        <div class="col-md-12">
                            <div class="search-container" style="margin-top: 10px;">
                                <input type="text" class="form-control"  placeholder="&#xf002; Search Titles" [(ngModel)]="searchText">
                            </div>
                        </div>
                        <div class="card-body">
                            <table class="table table-striped table-hover">
                                <thead>
                                    <th>Title Name</th>
                                    <th>اسم المنصب</th>
                                    <th>Actions</th>
                                </thead>
                                <tbody *ngFor="let position of positions | async | searchPipe: searchText" (click)="catchPosition(position)">
                                    <td>{{ position.positionNameEn }}</td>
                                    <td>{{ position.positionNameAr }}</td>
                                    <td><a (click)="deletePosition(position)"><span class="material-icons red-delete-icon"> delete_outline </span></a></td>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <app-positions-form [PositionObject]="position" (searchText)="clearTextOutput($event)"></app-positions-form>
                </div>
            </div>

        </div>
    </div>

</div>