<div class="main-content">
    <div class="custom-class-for-style activities-component-content">
        <div class="container-fluid">
            <div class="row">

                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header card-header-danger">
                            <h4 class="card-title">Position List</h4>
                        </div>
                        <div class="col-md-12">
                            <div class="search-container" style="margin-top: 10px;">
                                <input type="text" class="form-control" placeholder="&#xf002; Search companies"
                                    [(ngModel)]="searchText">
                            </div>
                        </div>
                        <div class="card-body">
                            <table class="table">
                                <thead>
                                    <th>Site Type</th>
                                    <th>نوع الموقع</th>
                                    <th>Actions</th>
                                </thead>
                                <!--  -->
                                <tbody *ngFor="let siteType of siteTypes | async | searchPipe : searchText"
                                    (click)="catchSiteType(siteType)">
                                    <td>{{ siteType.siteTypeEn }}</td>
                                    <td>{{ siteType.siteTypeAr }}</td>
                                    <!--  -->
                                    <td>
                                        <a (click)="deleteSiteType(siteType)">
                                            <span class="material-icons red-delete-icon">
                                                    delete_outline
                                            </span>
                                        </a>
                                    </td>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <!-- <app-positions-form [PositionObject]="company"></app-positions-form> -->
                    <!-- <app-comapny-form [companyObject]="company"></app-comapny-form> -->
                    <app-site-type-curd [siteTypeObject]="siteType"></app-site-type-curd>
                </div>
            </div>

        </div>
    </div>

</div>