<div class="card">
    <div class="card-header card-header-danger">
      <h4 class="card-title">Edit Position List</h4>
    </div>
    <div class="card-body">
      <form [formGroup]="siteTypeForm" #form="ngForm" id="companyForm" >
        <div class="row custom-no-gutters">
          <div class="col-md-12">
            <button mat-raised-button class="btn btn-info pull-right btn-sm" [hidden]="isHiddenEditActionBtn"
              (click)="showBtns()">Edit</button>
  
            <button mat-raised-button class="btn btn-danger pull-right btn-sm ml-auto" [hidden]="isHiddenCreateActionBtn"
              (click)="showCreateSaveBtn()">create</button>
          </div>
        </div>
  
        <div class="row custom-no-gutters">
          <div class="col-md-12">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="نوع الموقع" type="text" formControlName="siteTypeNameAr" class="form-control">
            </mat-form-field>

            <div class="alert alert-danger"
            *ngIf="siteTypeForm.controls['siteTypeNameAr'].invalid && (siteTypeForm.controls['siteTypeNameAr'].dirty || siteTypeForm.controls['siteTypeNameAr'].touched)">
            <span *ngIf="siteTypeForm.get('siteTypeNameAr').errors.required">
              This Field is required
            </span>
      </div>
          </div>
        </div>
  
        <div class="row custom-no-gutters">
          <div class="col-md-12">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Site Type" type="text" formControlName="siteTypeNameEn" class="form-control">
            </mat-form-field>
            <div class="alert alert-danger"
            *ngIf="siteTypeForm.controls['siteTypeNameEn'].invalid && (siteTypeForm.controls['siteTypeNameEn'].dirty || siteTypeForm.controls['siteTypeNameEn'].touched)">
            <span *ngIf="siteTypeForm.get('siteTypeNameEn').errors.required">
              This Field is required
            </span>
      </div>
          </div>
        </div>
  
        
          <div class="row custom-no-gutters" [hidden]="isHiddenSaveCreateBtn">
            <button type="submit" mat-raised-button  class="btn btn-danger pull-left btn-sm" 
              [disabled]="siteTypeForm.invalid" (click)="onSubmit(siteTypeForm.value)">create new site type</button>
            <button mat-raised-button class="btn btn-danger pull-right btn-sm" (click)="Cancel()">cancel</button>
          </div>
          <div class="row custom-no-gutters" [hidden]="isHiddenSaveActionBtn">
            <button mat-raised-button class="btn btn-danger pull-left btn-sm" [disabled]="siteTypeForm.invalid"
              (click)="updatePosition(siteTypeForm.value)">Update Site Type</button>
  
            <button mat-raised-button class="btn btn-danger pull-right btn-sm" (click)="Cancel()">cancel</button>
          </div>
  
      </form>
    </div>
  </div>