<div class="card">
      <div class="card-header card-header-danger">
        <h4 class="card-title">Edit Time Group List</h4>
      </div>
      <div class="card-body">
        <form [formGroup]="timeGroupsForm" id="timeGroupsForm">

          <input type="hidden" formControlName="timeGroupId">
          
          <div class="row custom-no-gutters">
            <div class="col-md-12">
              <button type="button" mat-raised-button class="btn btn-info pull-right btn-sm"
                [hidden]="isHiddenEditActionBtn" (click)="showBtns()">edit</button>
    
              <button type="button" mat-raised-button class="btn btn-danger pull-right btn-sm ml-auto"
                [hidden]="isHiddenCreateActionBtn" (click)="showCreateSaveBtn()">create</button>
            </div>
          </div>
    
          <div class="row custom-no-gutters">
            <div class="col-md-12">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="time Group Name" type="text" formControlName="timeGroupName" class="form-control">
                <!-- Start Validation part -->
                <!-- <div class="alert alert-danger"
                  *ngIf="(timeGroupsForm.get('timeGroupName').touched ) && timeGroupsForm.get('timeGroupName').errors">
                  <span *ngIf="timeGroupsForm.get('timeFrom').errors.required">
                    This Field is required
                  </span>
                 
                  <span *ngIf="timeGroupsForm.get('timeGroupName').errors?.isValidInput">
                    Only english characters
                  </span>
                </div> -->
                <!-- End Validation part -->
              </mat-form-field>
            </div>
          </div>
    
         
    
          <div class="row custom-no-gutters">
            <div class="col-md-12">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="flexible Hours" type="text" formControlName="flexibleHours"
                  class="form-control">
            
                <!-- Start Validation part -->
                <!-- <div class="alert alert-danger"
                *ngIf="(timeGroupsForm.get('flexibleHours').touched || dirty) && timeGroupsForm.get('flexibleHours').invalid">
                  <span *ngIf="timeGroupsForm.get('flexibleHours').errors?.required">
                    This Field is required
                  </span>
                  <span *ngIf="timeGroupsForm.get('flexibleHours').errors?.isValidInput">
                    Only english characters
                  </span>
                </div> -->
                <!-- End Validation part -->
    
              </mat-form-field>
            </div>
          </div>

          <div class="row custom-no-gutters">
            <div class="col-md-12">
                <mat-form-field  class="input2">
                  <input matInput  
                  class="form-control"
                  [matDatepicker]="picker" 
                  formControlName="timeFrom" 
                  placeholder="time from"
                  type="text"
                  bsDatepicker 
                  autocomplete="off"
                  name="timeFrom"
                
                  
                  >
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>

                  <mat-datepicker #picker></mat-datepicker>
                 
                </mat-form-field>
             
            </div>
          </div>

          <div class="row custom-no-gutters">
            <div class="col-md-12">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="time To" type="text" formControlName="timeTo"
                  class="form-control" bsDatepicker  autocomplete="off">
                 
              </mat-form-field>
            </div>
          </div>
    
    
          <div class="row custom-no-gutters" [hidden]="isHiddenSaveCreateBtn">
            <button type="submit" mat-raised-button class="btn btn-danger pull-left btn-sm"
              [disabled]="timeGroupsForm.invalid" (click)="createTime(timeGroupsForm.value)">Create activity</button>
    
            <button mat-raised-button class="btn btn-danger pull-right btn-sm" (click)="onReset()">cancel</button>
          </div>
    
          <div class="row custom-no-gutters" [hidden]="isHiddenSaveActionBtn">
            <button type="submit" mat-raised-button class="btn btn-danger pull-left btn-sm"
              [disabled]="timeGroupsForm.invalid" (click)="updateTime(timeGroupsForm.value)">Update time Group</button>
    
            <button mat-raised-button class="btn btn-danger pull-right btn-sm" (click)="onReset()">cancel</button>
          </div>
    
        </form>
      </div>
    </div>
