<div class="card">
      <div class="card-header card-header-danger">
        <h4 class="card-title">Edit Time Group List</h4>
      </div>
      <div class="card-body">
        <form [formGroup]="timeGroupsForm" id="timeGroupsForm">

          <input type="hidden" formControlName="timeGroupId">
          
          <div class="row custom-no-gutters">
            <div class="col-md-12">
              <button type="button" mat-raised-button class="btn btn-info pull-right btn-sm"
                [hidden]="isHiddenEditActionBtn" (click)="showBtns()">edit</button>
    
              <button type="button" mat-raised-button class="btn btn-danger pull-right btn-sm ml-auto"
                [hidden]="isHiddenCreateActionBtn" (click)="showCreateSaveBtn()">create</button>
            </div>
          </div>
          <!-- timeGroupName form control -->
          <div class="row custom-no-gutters">
            <div class="col-md-12">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="time Group Name" type="text" formControlName="timeGroupName" class="form-control">
                <!-- Start Validation part -->
                <div class="alert alert-danger"
                  *ngIf="timeGroupsForm.controls['timeGroupName'].invalid && (timeGroupsForm.controls['timeGroupName'].dirty || timeGroupsForm.controls['timeGroupName'].touched)">
                    <span *ngIf="timeGroupsForm.get('timeGroupName').errors.required">
                      This Field is required
                    </span>
                  </div>
                <!-- End Validation part -->
              </mat-form-field>
            </div>
          </div>
        
          <!-- timeFrom form control -->



          <div class="row custom-no-gutters">
            <div class="col-md-12">
              <mat-form-field>
                <div class="toggle-custom-icon-example">
                  <input matInput [ngxTimepicker]="toggleIcon" [disableClick]="false" formControlName="timeFrom">
                  <ngx-material-timepicker-toggle [for]="toggleIcon">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" width="30px" height="30px" ngxMaterialTimepickerToggleIcon>
                          <path d="M15,3C8.373,3,3,8.373,3,15c0,6.627,5.373,12,12,12s12-5.373,12-12C27,8.373,21.627,3,15,3z M16,16H7.995 C7.445,16,7,15.555,7,15.005v-0.011C7,14.445,7.445,14,7.995,14H14V5.995C14,5.445,14.445,5,14.995,5h0.011 C15.555,5,16,5.445,16,5.995V16z"/>
                      </svg>
                  </ngx-material-timepicker-toggle>
                  <ngx-material-timepicker #toggleIcon></ngx-material-timepicker>
              </div>
              </mat-form-field>
      
              <!-- <mat-form-field>
                <input matInput class="form-control"   type="time" placeholder="start date" formControlName="timeFrom">
              </mat-form-field> -->
            </div>
          </div>
          




          <!-- <div class="row custom-no-gutters">
            <div class="col-md-12">
                <mat-form-field  class="input2">
                  <input matInput  
                  class="form-control"
                  
                  formControlName="timeFrom" 
                  placeholder="time from"
                
                  type="text" 
                  autocomplete="off"
                  name="timeFrom"
                  >
                  <div class="alert alert-danger"
                  *ngIf="timeGroupsForm.controls['timeFrom'].invalid && (timeGroupsForm.controls['timeFrom'].dirty || timeGroupsForm.controls['timeFrom'].touched)">
                    <span *ngIf="timeGroupsForm.get('timeFrom').errors.required">
                      This Field is required
                    </span>
                  </div>
                </mat-form-field>
             
            </div>
          </div> -->
          
          
          <!-- timeTo form control -->
          <div class="row custom-no-gutters">
            <div class="col-md-12">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="time To" type="text" formControlName="timeTo"
                  class="form-control"   autocomplete="off">
                  <div class="alert alert-danger"
                  *ngIf="timeGroupsForm.controls['timeTo'].invalid && (timeGroupsForm.controls['timeTo'].dirty || timeGroupsForm.controls['timeTo'].touched)">
                    <span *ngIf="timeGroupsForm.get('timeTo').errors.required">
                      This Field is required
                    </span>
                  </div>
              </mat-form-field>
            </div>
          </div>
          
          <!-- fromDayOfWeek form control -->
          <!-- <div class="row custom-no-gutters">
            <div class="col-md-12">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="from Day Of Week" type="text" formControlName="fromDayOfWeek"
                  class="form-control" autocomplete="off">
                  <div class="alert alert-danger"
                  *ngIf="timeGroupsForm.controls['fromDayOfWeek'].invalid && (timeGroupsForm.controls['fromDayOfWeek'].dirty || timeGroupsForm.controls['fromDayOfWeek'].touched)">
                    <span *ngIf="timeGroupsForm.get('fromDayOfWeek').errors.required">
                      This Field is required
                    </span>
                  </div>
              </mat-form-field>
            </div>
          </div> -->

          <div class="row custom-no-gutters">
            <div class="col-md-12">
              <mat-form-field>
                <mat-label>from Day Of Week</mat-label>
                <mat-select #selected name="FD_Financials_year_end_date" class="form-control" (selectionChange)="selectDay($event)" formControlName="fromDayOfWeek">
                  <mat-option *ngFor="let day of weekDays"  [value]="day">
                    {{day}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <!-- toDayOfWeek form control -->
          <div class="row custom-no-gutters">
            <div class="col-md-12">
              <mat-form-field>
                <mat-label>To Day Of Week</mat-label>
                <mat-select #selected name="FD_Financials_year_end_date" class="form-control" (selectionChange)="selectDay($event)" formControlName="toDayOfWeek">
                  <mat-option *ngFor="let day of weekDays"  [value]="day">
                    {{day}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <!-- hasFlexibleHours from control -->

       

          <!-- flexible hours form control -->
          <div class="row custom-no-gutters">
            <div class="col-md-5">
              <div class="checkbox-container example-full-width">

                <input  type='checkbox' id='switch' [checked]="isChecked" (change)="switch(flexibleHoursValue)" formControlName="hasFlexibleHours">
                <label for='title_switch' class="ml-2">Has flexible Hours?</label>
              </div>
            </div>

            <div class="col-md-7">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="flexible Hours" type="number" formControlName="flexibleHours"
                  class="form-control"
                  [readonly]="isReadonly" appNumeric>
<!-- 
                  <div class="alert alert-danger"
                  *ngIf="timeGroupsForm.controls['flexibleHours'].invalid && (timeGroupsForm.controls['flexibleHours'].dirty || timeGroupsForm.controls['flexibleHours'].touched)">
                    <span *ngIf="timeGroupsForm.get('flexibleHours').errors.required">
                      This Field is required
                    </span>
             
                    <span class="text-capitalize"  *ngIf="timeGroupsForm.get('flexibleHours').errors?.pattern"> 
                       only positive numbers are valid
                    </span>
                
                  </div> -->
            
                <!-- Start Validation part -->
                <!-- <div class="alert alert-danger"
                *ngIf="(timeGroupsForm.get('flexibleHours').touched || dirty) && timeGroupsForm.get('flexibleHours').invalid">
                  <span *ngIf="timeGroupsForm.get('flexibleHours').errors?.required">
                    This Field is required
                  </span>
                  <span *ngIf="timeGroupsForm.get('flexibleHours').errors?.isValidInput">
                    Only english characters
                  </span>
                </div> -->
                <!-- End Validation part -->
    
              </mat-form-field>
            </div>
          </div>
    
    
          <div class="row custom-no-gutters" [hidden]="isHiddenSaveCreateBtn">
            <button type="submit" mat-raised-button class="btn btn-danger pull-left btn-sm"
              [disabled]="timeGroupsForm.invalid" (click)="createTime(timeGroupsForm.value)">Create activity</button>
    
            <button mat-raised-button class="btn btn-danger pull-right btn-sm" (click)="onReset()">cancel</button>
          </div>
    
          <div class="row custom-no-gutters" [hidden]="isHiddenSaveActionBtn">
            <button type="submit" mat-raised-button class="btn btn-danger pull-left btn-sm"
              [disabled]="timeGroupsForm.invalid" (click)="updateTime(timeGroupsForm.value)">Update time Group</button>
    
            <button mat-raised-button class="btn btn-danger pull-right btn-sm" (click)="onReset()">cancel</button>
          </div>
    
        </form>
      </div>
    </div>
