<!-- {{timeGroupsData|json}} -->


<div class="main-content">
    <div class="custom-class-for-style activities-component-content">
      <div class="container-fluid">
        <div class="row">
          
          <div class="col-md-8">
            <div class="card">
              <div class="card-header card-header-danger">
                <h4 class="card-title">Time Groups List</h4>
              </div>
              <div class="card-body">
                <table class="table">
                  <thead>
                    <th>time Group Name</th>
                    <th>time From</th>
                    <th>time To</th>
                    <th>from Day Of Week</th>
                    <th>to Day Of Week</th>
                    <th>flexible Hours</th>
                    <th>Actions</th>
                  </thead>
                  <tbody *ngFor="let timeGroup of timeGroupsData | async">
                    <td (click)="catchTimeGroup(timeGroup)">{{timeGroup.timeGroupName}}</td>
                    <td (click)="catchTimeGroup(timeGroup)">{{timeGroup.timeFrom | date:"HH:mm a"}}</td>
                    <td (click)="catchTimeGroup(timeGroup)">{{timeGroup.timeTo | date:"HH:mm a"}}</td>
                    <td (click)="catchTimeGroup(timeGroup)">{{timeGroup.fromDayOfWeek}}</td>
                    <td (click)="catchTimeGroup(timeGroup)">{{timeGroup.toDayOfWeek}}</td>
                    <td (click)="catchTimeGroup">{{timeGroup.flexibleHours}}</td>
                    <td>
                      <a (click)="deleteTimeGroup(timeGroup)">
                        <span class="material-icons red-delete-icon"> delete_outline </span>
                      </a>
                    </td>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
  
          <div class="col-md-4">
            <app-timegroup-crud></app-timegroup-crud>
          </div>
        </div>
  
      </div>
    </div>
  
  </div>
