.nav > ul > li.active > a{
    color: red !important;
}
.sidebar-wrapper .nav i {
    margin-right: 0px !important;
}
 .nav li .nav-link
{
    margin-right: 0;
    padding-right: 0 ;
    padding-left: 0;
}

.sidebar .nav li > a:hover, .sidebar .nav li > a:focus{
    color: #ffffff;
}


#collapseEntity .nav{
    padding-left: 20px;
}
.nav li .nav-link:hover,
.nav li .nav-link:hover i,
.nav li .nav-link:focus,
.nav li .nav-link:focus i{
    color: #ffffff;
}

