<div class="main-content">
    <div class="custom-class-for-style activities-component-content">
        <div class="container-fluid">
            <div class="row">

                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header card-header-danger">
                            <h4 class="card-title">Site Responsibility List</h4>
                        </div>
                        <div class="col-md-12">
                            <div class="search-container" style="margin-top: 10px;">
                                <input type="text" class="form-control"  placeholder="&#xf002; Search companies" [(ngModel)]="searchText">
                            </div>
                        </div>
                        <div class="card-body">
                            <table class="table">
                                <thead>
                                    <th>Site Responsibility Name</th>
                                    <th>المسؤلية</th>
                                </thead>
                                <!--  -->
                                <tbody *ngFor="let siteResponsibility of siteResponsibilities | async | searchPipe : searchText"
                                 (click)="catchSiteResponsibility(siteResponsibility)">
                                    <td>{{ siteResponsibility.siteResponsibilityNameAr }}</td>
                                    <td>{{ siteResponsibility.siteResponsibilityNameEn }}</td>
                                    <!--  -->
                                    <td><a (click)="deleteSiteResponsibility(siteResponsibility)"><span class="material-icons">
                                        delete
                                        </span></a></td>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <!-- <app-positions-form [PositionObject]="company"></app-positions-form> -->
                    <!-- <app-comapny-form [companyObject]="siteResponsibility"></app-comapny-form> -->
                    <app-site-responsibiltiy-curd [siteResponsibilityObject]="siteResponsibility"></app-site-responsibiltiy-curd>
                </div>
            </div>

        </div>
    </div>

</div>